@CHARSET "ISO-8859-1";

input[type="text"] {
	width: 200px;
	margin: 13px ;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 1%;
	}
	
input[type="submit"] {
		border-radius: 5px;
			padding: 1%;
			border: 1px solid grey;
	
}
div.collapse navbar-collapse {
	font-size: 25 px;
	
	
}

.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}

.img-carousel {
	margin: auto;
}
.progress {
    width: 100%;
    background-color: grey;
}
.myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.navbar-nav>li>a {
	
	line-height: 0;
