<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>ecommerce</display-name>
  
  
       <!-- REGISTRAZIONE -->
       <servlet>
       <servlet-name>Registrazione</servlet-name>
       <servlet-class>it.accenture.controller.Registrazione</servlet-class>
       </servlet>
       <servlet-mapping>
       <servlet-name>Registrazione</servlet-name>
       <url-pattern>/registrazione</url-pattern>
       </servlet-mapping>
       
       
       <!-- LOGIN -->
       <servlet>
       <servlet-name>Login</servlet-name>
       <servlet-class>it.accenture.controller.Login</servlet-class>
       </servlet>
       <servlet-mapping>
       <servlet-name>Login</servlet-name>
       <url-pattern>/login</url-pattern>
       </servlet-mapping>
       
       <!-- LOGOUT -->
       <servlet>
       <servlet-name>Logout</servlet-name>
       <servlet-class>it.accenture.controller.Logout</servlet-class>
       </servlet>
       <servlet-mapping>
       <servlet-name>Logout</servlet-name>
       <url-pattern>/logout</url-pattern>
       </servlet-mapping>
       
       <!-- ACCOUNT GET DATI -->
		<servlet>
		<servlet-name>AccountDati</servlet-name>
		<servlet-class>it.accenture.controller.AccountDati</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>AccountDati</servlet-name>
		<url-pattern>/accountDati</url-pattern>
		</servlet-mapping>
		
       <!-- ACCOUNT UPDATE INDIRIZZO -->
		<servlet>
		<servlet-name>AccountUpdateIndirizzo</servlet-name>
		<servlet-class>it.accenture.controller.AccountUpdateIndirizzo</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>AccountUpdateIndirizzo</servlet-name>
		<url-pattern>/accountUpdateIndirizzo</url-pattern>
		</servlet-mapping>
		
	     <!-- ACCOUNT UPDATE PASSWORD -->
		<servlet>
		<servlet-name>AccountUpdatePassword</servlet-name>
		<servlet-class>it.accenture.controller.AccountUpdatePassword</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>AccountUpdatePassword</servlet-name>
		<url-pattern>/accountUpdatePassword</url-pattern>
		</servlet-mapping>
		
		
		<!-- LISTA ACQUISTI -->
		
			<servlet>
		<servlet-name>ListaAcquisti</servlet-name>
		<servlet-class>it.accenture.controller.ListaAcquisti</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ListaAcquisti</servlet-name>
		<url-pattern>/listaAcquisti</url-pattern>
		</servlet-mapping>
		
		<!-- LISTA PRODOTTI IN OFFERTA-->
		<servlet>
		<servlet-name>Offerta</servlet-name>
		<servlet-class>it.accenture.controller.Offerta</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Offerta</servlet-name>
		<url-pattern>/offerta</url-pattern>
		</servlet-mapping>
		
		<!-- LISTA PRODOTTI DISPONIBILI-->
		<servlet>
		<servlet-name>ListaProdottiDisponibili</servlet-name>
		<servlet-class>it.accenture.controller.ListaProdottiDisponibili</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ListaProdottiDisponibili</servlet-name>
		<url-pattern>/listaProdottiDisponibili</url-pattern>
		</servlet-mapping>
		
			<!-- LISTA PRODOTTI NOMI SIMILI-->
		<servlet>
		<servlet-name>ListaProdottiNomiSimili</servlet-name>
		<servlet-class>it.accenture.controller.ProdottiNomiSimili</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ListaProdottiNomiSimili</servlet-name>
		<url-pattern>/listaProdottiNomiSimili</url-pattern>
		</servlet-mapping>
		
		
		<!-- CATEGORIA -->
			<servlet>
		<servlet-name>Categoria</servlet-name>
		<servlet-class>it.accenture.controller.Categoria</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Categoria</servlet-name>
		<url-pattern>/categoria</url-pattern>
		</servlet-mapping>
		
		<!-- CARRELLO-->
		<servlet>
		<servlet-name>Carrello</servlet-name>
		<servlet-class>it.accenture.controller.Carrello</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Carrello</servlet-name>
		<url-pattern>/carrello</url-pattern>
		</servlet-mapping>
		
		<!-- ACQUISTA -->
			<servlet>
		<servlet-name>Acquista</servlet-name>
		<servlet-class>it.accenture.controller.Acquista</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Acquista</servlet-name>
		<url-pattern>/acquista</url-pattern>
		</servlet-mapping>
		
		<!-- CONTATTI-->
			<servlet>
		<servlet-name>Contatti</servlet-name>
		<servlet-class>it.accenture.controller.Contatti</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Contatti</servlet-name>
		<url-pattern>/contatti</url-pattern>
		</servlet-mapping>
		
		<!-- DETTAGLI-->
			<servlet>
		<servlet-name>DettagliProdotto</servlet-name>
		<servlet-class>it.accenture.controller.DettagliProdotto</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>DettagliProdotto</servlet-name>
		<url-pattern>/dettagliProdotto</url-pattern>
		</servlet-mapping>
		
		
		<!-- LISTA ORDINI -->
			<servlet>
		<servlet-name>ListaOrdini</servlet-name>
		<servlet-class>it.accenture.controller.ListaOrdini</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ListaOrdini</servlet-name>
		<url-pattern>/listaOrdini</url-pattern>
		</servlet-mapping>
		
			
		<!-- RECENSIONI -->
			<servlet>
		<servlet-name>Recensioni</servlet-name>
		<servlet-class>it.accenture.controller.Recensioni</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Recensioni</servlet-name>
		<url-pattern>/recensioni</url-pattern>
		</servlet-mapping>
		
			
		<!-- RISULTATO -->
			<servlet>
		<servlet-name>Risultato</servlet-name>
		<servlet-class>it.accenture.controller.Risultato</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Risultato</servlet-name>
		<url-pattern>/risultato</url-pattern>
		</servlet-mapping>
		
		<!-- SUCCESSO -->
			<servlet>
		<servlet-name>Successo</servlet-name>
		<servlet-class>it.accenture.controller.Successo</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Successo</servlet-name>
		<url-pattern>/successo</url-pattern>
		</servlet-mapping>
		
		<!-- TRACKING -->
			<servlet>
		<servlet-name>Tracking</servlet-name>
		<servlet-class>it.accenture.controller.Tracking</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>Tracking</servlet-name>
		<url-pattern>/tracking</url-pattern>
		</servlet-mapping>
		
		<!-- PIU VENDUTI -->
			<servlet>
		<servlet-name>PiuVenduti</servlet-name>
		<servlet-class>it.accenture.controller.PiuVenduti</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>PiuVenduti</servlet-name>
		<url-pattern>/piuVenduti</url-pattern>
		</servlet-mapping>
		
		
		<welcome-file-list>
		<welcome-file>piuVenduti</welcome-file>
		</welcome-file-list>
		
		
		
		       
		       
</web-app>
